tools/OpenDeposco.Scraper/Output/net7.0/XSDs/UPC.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.deposco.com/upc"
    xmlns="http://integration.deposco.com/upc"
    elementFormDefault="unqualified">

    <xs:element name="upcs" type="UPCCollection"/>
    
    <xs:complexType name="UPCCollection">
        <xs:sequence>
            <xs:element name="upc" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
