tools/OpenDeposco.Scraper/XSDs/CoLine.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.deposco.com/coline"
           xmlns="http://integration.deposco.com/coline"
           xmlns:item="http://integration.deposco.com/item"
           xmlns:pack="http://integration.deposco.com/pack"
           xmlns:linesite="http://integration.deposco.com/colinesite"
           xmlns:paymentTerm="http://integration.deposco.com/copaymentterm"
           xmlns:c="http://integration.deposco.com/cocontact"
           xmlns:tax="http://integration.deposco.com/cotax"
           xmlns:retailActivity="http://integration.deposco.com/coretailactivity"
           xmlns:ca="http://integration.deposco.com/cochargeallowance"
           xmlns:t="http://integration.deposco.com/types"
           xmlns:old="http://integration.deposco.com/codate"
           xmlns:olr="http://integration.deposco.com/coreference"
           xmlns:ola="http://integration.deposco.com/colineallocation"
           xmlns:ref="http://integration.deposco.com/corefund"
           elementFormDefault="unqualified">

    <xs:import namespace="http://integration.deposco.com/item" schemaLocation="Item.xsd"/>
    <xs:import namespace="http://integration.deposco.com/types" schemaLocation="Types.xsd"/>
    <xs:import namespace="http://integration.deposco.com/coretailactivity" schemaLocation="CoRetailActivity.xsd"/>
    <xs:import namespace="http://integration.deposco.com/pack" schemaLocation="Pack.xsd"/>
    <xs:import namespace="http://integration.deposco.com/colinesite" schemaLocation="CoLineSite.xsd"/>
    <xs:import namespace="http://integration.deposco.com/copaymentterm" schemaLocation="CoPaymentTerm.xsd"/>
    <xs:import namespace="http://integration.deposco.com/cotax" schemaLocation="CoTax.xsd"/>
    <xs:import namespace="http://integration.deposco.com/cochargeallowance" schemaLocation="CoChargeAllowance.xsd"/>
    <xs:import namespace="http://integration.deposco.com/cocontact" schemaLocation="CoContact.xsd"/>
	<xs:import namespace="http://integration.deposco.com/codate" schemaLocation="CoDate.xsd"/>
    <xs:import namespace="http://integration.deposco.com/coreference" schemaLocation="CoReference.xsd"/>
    <xs:import namespace="http://integration.deposco.com/colineallocation" schemaLocation="CoLineAllocation.xsd"/>
    <xs:import namespace="http://integration.deposco.com/corefund" schemaLocation="CoRefund.xsd"/>

    <xs:element name="orderLines" type="OrderLineCollection"/>

    <xs:complexType name="OrderLineCollection">
        <xs:sequence>
            <xs:element name="orderLine" type="CoLineType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CoLineType">
        <xs:sequence>
            <xs:element name="number" type="xs:string" minOccurs="0"/>
            <xs:element name="externalLineNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="sourcingGroup" type="xs:string" minOccurs="0"/>
            <xs:element name="businessUnit" type="xs:string" minOccurs="0" />
            <xs:element name="status" type="xs:string" minOccurs="0" default="Draft"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="unitCost" type="xs:double" minOccurs="0"/>
            <xs:element name="unitPrice" type="xs:double" minOccurs="0"/>
            <xs:element name="netPrice" type="xs:double" minOccurs="0"/>
            <xs:element name="lineTotal" type="xs:double" minOccurs="0"/>
            <xs:element name="shippingAmount" type="xs:double" minOccurs="0"/>
            <xs:element name="discountAmount" type="xs:double" minOccurs="0"/>
            <xs:element name="taxableTotal" type="xs:double" minOccurs="0"/>
            <xs:element name="extendedTotal" type="xs:double" minOccurs="0"/>
            <xs:element name="taxAmount" type="xs:double" minOccurs="0"/>
            <xs:element name="department" type="xs:string" minOccurs="0"/>
            <xs:element name="division" type="xs:string" minOccurs="0"/>
            <xs:element name="orderQuantity" type="xs:double" minOccurs="0"/>
            <xs:element name="orderQuantityUOM" type="xs:string" minOccurs="0"/>
            <xs:element name="orderQuantityInPack" type="xs:double" minOccurs="0"/>
            <xs:element name="allocatedQuantity" type="xs:double" minOccurs="0"/>
            <xs:element name="customerPackKey" type="xs:string" minOccurs="0"/>
            <xs:element name="originalOrderQuantity" type="xs:double" minOccurs="0"/>
            <xs:element name="shippedQuantity" type="xs:double" minOccurs="0"/>
            <xs:element name="shippedQuantityUOM" type="xs:string" minOccurs="0"/>
            <xs:element name="returnedQuantity" type="xs:double" minOccurs="0"/>
            <xs:element name="returnedQuantityUOM" type="xs:string" minOccurs="0"/>
            <xs:element name="canceledQuantity" type="xs:double" minOccurs="0"/>
            <xs:element name="canceledQuantityUOM" type="xs:string" minOccurs="0"/>
            <xs:element name="productSizeCode" type="xs:string" minOccurs="0"/>
            <xs:element name="productColorCode" type="xs:string" minOccurs="0"/>
            <xs:element name="billToAddress" type="c:CoContactType" minOccurs="0"/>
            <xs:element name="shipToAddress" type="c:CoContactType" minOccurs="0"/>
            <xs:element name="shipFromAddress" type="c:CoContactType" minOccurs="0"/>
            <xs:element name="freightBillToAddress" type="c:CoContactType" minOccurs="0"/>
            <xs:element name="freightBillToAccount" type="xs:string" minOccurs="0" />
            <xs:element name="freight" type="t:FreightType" minOccurs="0" />
            <xs:element name="remitToAddress" type="c:CoContactType" minOccurs="0"/>
            <xs:element name="sellerAddress" type="c:CoContactType" minOccurs="0"/>
            <xs:element name="taxable" type="xs:boolean" minOccurs="0"/>
            <xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="updatedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="shipFromFacility" type="xs:string" minOccurs="0"/>
            <xs:element name="shipToFacility" type="xs:string" minOccurs="0"/>
            <xs:element name="relatedCoLine" type="xs:string" minOccurs="0"/>
            <xs:element name="weight" type="xs:double" minOccurs="0"/>
            <xs:element name="weightUOM" type="xs:string" minOccurs="0"/>
            <xs:element name="customAttribute1" type="xs:string" minOccurs="0"/>
            <xs:element name="customAttribute2" type="xs:string" minOccurs="0"/>
            <xs:element name="customAttribute3" type="xs:string" minOccurs="0"/>
            <xs:element name="customAttribute4" type="xs:string" minOccurs="0"/>
            <xs:element name="customAttribute5" type="xs:string" minOccurs="0"/>
            <xs:element name="customAttribute6" type="xs:string" minOccurs="0"/>
            <xs:element name="customAttribute7" type="xs:string" minOccurs="0"/>
            <xs:element name="customAttribute8" type="xs:string" minOccurs="0"/>
            <xs:element name="customAttribute9" type="xs:string" minOccurs="0"/>
            <xs:element name="customAttribute10" type="xs:string" minOccurs="0"/>
            <xs:element name="inventoryCondition" type="xs:string" minOccurs="0"/>
            <xs:element name="inventoryAttribute1" type="xs:string" minOccurs="0"/>
            <xs:element name="inventoryAttribute2" type="xs:string" minOccurs="0"/>
            <xs:element name="colorName" type="xs:string" minOccurs="0" />
            <xs:element name="itemSize" type="xs:string" minOccurs="0"/>
            <xs:element name="invoice" type="xs:string" minOccurs="0"/>
            <xs:element name="lotNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="archived" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sortOrder" type="xs:int" minOccurs="0"/>
            <xs:element name="tradingPartnerSite" type="xs:string" minOccurs="0"/>
            <xs:element name="markForSite" type="xs:string" minOccurs="0"/>
         	<xs:element name="shippingClass" type="xs:string" minOccurs="0"/>
         	<xs:element name="shipVendor" type="xs:string" minOccurs="0"/>
         	<xs:element name="shipVia" type="xs:string" minOccurs="0"/>
         	<xs:element name="returnShipVia" type="xs:string" minOccurs="0"/>
         	<xs:element name="returnShippingClass" type="xs:string" minOccurs="0"/>
         	<xs:element name="itemNumber" type="xs:string" minOccurs="0"/>
         	<xs:element name="buyerPartNumber" type="xs:string" minOccurs="0"/>
         	<!-- For Non-EDI flows vendorPartNumber is required field. -->
         	<xs:element name="vendorPartNumber" type="xs:string" minOccurs="0"/>
         	<xs:element name="consumerPackageCode" type="xs:string" minOccurs="0"/>
         	<xs:element name="ean" type="xs:string" minOccurs="0"/>
         	<xs:element name="gtin" type="xs:string" minOccurs="0"/>
         	<xs:element name="upcCaseCode" type="xs:string" minOccurs="0"/>
         	<xs:element name="nationalDrugCode" type="xs:string" minOccurs="0"/>
         	<xs:element name="isbn" type="xs:string" minOccurs="0"/>

         	<xs:element name="orderLineSites" type="linesite:OrderLineSiteCollection" minOccurs="0"/>
            <xs:element name="paymentTerms" type="paymentTerm:PaymentTermCollection" minOccurs="0"/>
            <xs:element name="taxes" type="tax:TaxCollection" minOccurs="0"/>
            <xs:element name="chargesAllowances" type="ca:ChargeAllowanceCollection" minOccurs="0"/>
            <xs:element name="channels" type="t:ChannelsCollection" minOccurs="0"/>
			<xs:element name="coDates" type="old:CoDateCollection" minOccurs="0"/>
            <xs:element name="references" type="olr:CoReferenceCollection" minOccurs="0"/>
            <xs:element name="notes" type="t:NoteCollection" minOccurs="0"/>
            <xs:element name="allocations" type="ola:lineAllocationCollection" minOccurs="0"/>
            <xs:element name="retailActivities" type="t:RetailActCollection" minOccurs="0"/>
            <xs:element name="refunds" type="ref:CoRefundCollection" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="quantityOnBackOrdered" type="xs:int"/>
    </xs:complexType>
</xs:schema>
